* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-wrapper {
    height: 300px;
    width: 450px;
    overflow: hidden;
    margin: auto;
    margin-top: 400px;
}

.images-wrapper {
display: flex;
margin-left: 0px;
transition: 1s;
}

.image-to-show {
    height: 300px;
    width: 450px;
    
}

.button-wrapper {
width: 450px;
margin: auto;
padding-top: 20px;
}

.btn-stop{
    margin-left: 110px;
}

.btn-start{
    margin-left: 50px;  
}